@font-face {
  font-family: "BemboBold";
  src: url(./fonts/BemboStd-Bold.otf);
}
@font-face {
  font-family: "Bembo";
  src: url(./fonts/BemboStd.otf);
}
@font-face {
  font-family: "BemboSemi";
  src: url(./fonts/BemboStd-SemiboldItalic.otf);
}
@font-face {
  font-family: "GeorgiaRegular";
  src: url(./fonts/GeorgiaRegular.ttf);
}

html,
body,
#root {
  height: 100%;
}
.row-bg {
  overflow: hidden;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "BemboBold";
}
.row-bg img {
  width: 100%;
}
/*  */
.content-age {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content-age img#logo {
  max-width: 244px;
  margin-top: 182px;
}
.content-age .you-must {
  font-size: 38px;
  font-weight: bold;
  line-height: 42px;
  font-family: "BemboBold";
  color: #000;
  margin-top: 55px;
}
.content-age .enter-age img {
  max-width: 620px;
}
.enter-age {
  position: relative;
}
.enter-age input {
  position: absolute;
  left: 50%;
  top: 65px;
  transform: translateX(-50%);
  border: 0;
  height: 50px;
  width: 65%;
  background-color: transparent;
  font-size: 30px;
  color: #000;
  font-family: BambeBold;
  font-weight: bold;
  text-align: center;
}
.enter-age input:focus {
  outline: none;
}
/*  */
.leave-site {
  font-size: 23px;
  line-height: 27px;
  color: #000;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  display: block;
  margin-top: 148px;
}
/*  */
.content-start {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.content-start img#logo {
  max-width: 244px;
  margin: 182px auto 0;
  display: block;
}
.content-start img#curious {
  max-width: 409px;
  display: block;
  margin: -10px auto 0;
}
.content-start button {
  background-color: transparent;
  border: 0;
  padding: 0;
  max-width: 290px;
}
.content-start .play {
  z-index: 5;
  display: block;
  margin-top: 0.425rem;
  position: relative;
}
.content-start img#play {
  max-width: 344px;
}
.content-start img#hand {
  margin-top: -110px;
  z-index: 3;
}
.content-start .menu {
  z-index: 3;
  display: block;
  margin-top: -35px;
}
.content-start img#menu {
  max-width: 344px;
}
.content-start img#candy {
  max-width: 186px;
  margin-top: 93px;
}

/*  */
.content-register {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.content-register img#logo {
  max-width: 244px;
  display: block;
  margin: 90px auto 0;
}
.content-register img#hohoho {
  max-width: 448px;
  display: block;
  margin: 50px auto 0;
}
.content-register .you-must {
  font-family: "BemboBold";
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  margin: 1.5rem 0 4rem;
}
.content-register form .form-item {
  position: relative;
  max-width: 437px;
  margin: 0 auto;
}
.content-register form .form-item label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: "BemboBold";
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #a4873e;
  opacity: 0;
}
.content-register form input {
  width: 100%;
  line-height: 74px;
  background: #f8f2e4;
  border: 1px solid #a4873e;
  margin-bottom: 50px;
  padding: 0 1rem;
  font-size: 33px;
  font-weight: normal;
  color: #a4873e;
  font-family: "GeorgiaRegular";
  font-style: italic;
  border-radius: 6px;
}
.content-register form input::placeholder {
  font-size: 33px;
  font-weight: normal;
  color: #a4873e;
  font-family: "GeorgiaRegular";
  font-style: italic;
}
.content-register form input:focus {
  outline: none;
}
.content-register form label:has(+ input:focus) {
  font-size: 18px;
  line-height: 14px;
  top: 9px;
  font-weight: 600;
  font-family: "BemboSemi";
  opacity: 1;
}
.content-register form p {
  font-family: "BemboBold";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  margin-top: 2px;
}
.checkbox-rg {
  position: relative;
}
.checkbox-ct {
  text-align: left;
  position: relative;
  padding-left: 40px;
  font-style: italic;
  color: #000;
  font-size: 20px;
  line-height: 27px;
}
.checkbox input#checkbox {
  display: none;
}
.checkbox label:before {
  content: "";
  appearance: none;
  border: 1px solid #a4873e;
  background-color: #f8f2e4;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  z-index: 9;
}
.checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 11px;
  width: 10px;
  height: 20px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  z-index: 10;
}
.checkbox input:checked + label:before {
  background-color: #000;
  border-color: #000;
}
.checkbox-ct a {
  color: #000;
  text-decoration: underline;
  font-size: 21px;
}
.content-register form .submit {
  max-width: 316px;
  padding: 0;
  background-color: transparent;
  border: 0;
  display: block;
  margin: 4.3rem auto 1rem;
}

/*  */
.content-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content-menu img#logo {
  max-width: 244px;
  margin-top: 94px;
}
.content-menu .menu {
  font-size: 43px;
  font-weight: bold;
  line-height: 51px;
  font-family: "BemboBold";
  color: #000;
  margin-top: 57px;
}
.content-menu .you-must {
  font-size: 23px;
  font-weight: bold;
  line-height: 27px;
  font-family: "BemboBold";
  color: #000;
  margin-top: 57px;
}
/*  */
.content-dear {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content-dear img#logo {
  max-width: 170px;
  margin: 57px auto 0;
  display: block;
}
img#oh-dear {
  max-width: 400px;
  margin: 115px auto 0;
  display: block;
}
.two-btn {
  max-width: 460px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  top: 44%;
  left: 6px;
}
.two-btn a {
  width: 45%;
  height: 100px;
  cursor: pointer;
}
.two-btn img {
  max-width: 200px;
  opacity: 0;
}
img#bot-flower {
  max-width: 585px;
  display: block;
  margin: 15px auto 0;
}
.link-ig {
  position: absolute;
  bottom: 31%;
  width: 100%;
  left: 0;
  height: 10%;
}
.you-must {
  font-size: 23px;
  line-height: 27px;
  font-weight: bold;
  font-family: BemboBold;
  font-style: italic;
  color: #000;
  display: block;
  margin: 1rem auto 100px;
}
.is-mobile {
  display: none;
}
/*  */
.content-before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(/public/images/game/bg-unbox.jpg); */
}

img#cracker {
  width: 46%;
  position: relative;
  left: 27%;
  z-index: 2;
}

img#cracked {
  width: 46%;
  position: absolute;
  left: 27%;
  z-index: 2;
}

img#cracked-click {
  width: 46%;
  position: absolute;
  left: 27%;
  z-index: 2;
}
img#explosion2 {
  position: absolute;
  z-index: 6;
  opacity: 0;
  width: 60%;
  top: 20%;
  left: 46%;
}
#sun {
  position: absolute;
  left: -10%;
  top: 9%;
  width: 120%;
  z-index: 5;
  opacity: 0;
}
img#explosion {
  position: absolute;
  z-index: 6;
  opacity: 0;
  width: 60%;
  top: 25%;
  left: 50%;
}
#mechanism {
  width: 95%;
  position: absolute;
  left: 24px;
  bottom: 322px;
  z-index: 1;
}
/*  */
.content-win {
  position: absolute;
  width: calc(100% + 10px);
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.content-win::-webkit-scrollbar {
  width: 10px;
}
.bg-only-win {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.content-win img#text1 {
  max-width: 540px;
  display: block;
  margin: 267px auto 0;
  z-index: 3;
  position: relative;
  /* animation: winText1 1s ease-out forwards; */
  /* animation-delay: 0.5s; */
}
.content-win .enter-code {
  position: relative;
  margin: 158px auto 0;
  max-width: 470px;
  /* animation: winAni2 0.5s ease-in forwards; */
  /* animation-delay: 0.5s; */
  z-index: 3;
}
.content-win .enter-code input {
  position: absolute;
  max-width: 300px;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
  padding: 0;
  background-color: transparent;
  color: #000;
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  font-family: "BemboBold";
  text-align: center;
}
.content-win .enter-code input::-webkit-outer-spin-button,
.content-win .enter-code input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.content-win .enter-code input::placeholder {
  color: #000;
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  font-family: "BemboBold";
  text-align: center;
}
.content-win .enter-code input:focus {
  outline: none;
}
.content-win img#text2 {
  max-width: 489px;
  margin: 0.125rem auto 0;
  display: block;
  /* animation: winAni2 0.5s ease-in forwards; */
  /* animation-delay: 0.5s; */
  z-index: 2;
  position: relative;
}
.content-win img#hendrick {
  animation: winAni3 0.5s linear forwards;
  animation-delay: 0.5s;
  position: relative;
  z-index: 2;
  bottom: -22px;
  display: none;
}
.content-win .icon-win {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* animation: winIcon 15s ease both; */
}
.icon-win img.ic1 {
  width: 14rem;
  position: relative;
  left: 1.5rem;
  top: -3rem;
}
.icon-win img.ic2 {
  width: 255px;
  position: absolute;
  right: 3rem;
  top: -4rem;
}
.icon-win img.ic3 {
  position: absolute;
  left: 3.5rem;
  max-width: 235px;
  top: 18rem;
}
.icon-win img.ic4 {
  position: absolute;
  right: 1rem;
  top: 22rem;
  max-width: 260px;
}
.icon-win img.ic5 {
  max-width: 250px;
  position: absolute;
  top: 45rem;
  right: 1rem;
}
.img-gif {
  position: absolute;
  top: auto;
  left: 0px;
  z-index: 2;
  animation: noneGif 1s ease-in forwards;
}
/* Lose */
.content-lose {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content-lose img#title {
  max-width: 556px;
  margin-top: 250px;
  position: relative;
  left: 1px;
  /* animation: loseAni1 0.2s linear forwards; */
}
.content-lose .follow {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  font-family: "BemboBold";
  font-style: italic;
  margin-top: 2rem;
  color: #000;
  /* animation: loseAni2 0.2s linear forwards; */
}
.content-lose .follow a {
  color: #000;
}
.content-lose .follow a:hover {
  text-decoration: none;
}
.content-lose .link-right {
  display: block;
  margin: 80px 0;
  position: relative;
  z-index: 3;
  /* animation: loseAni3 0.6s linear forwards; */
  cursor: pointer;
}
.content-lose #right {
  color: #000;
  max-width: 380px;
  left: 23px;
  position: relative;
}
.content-lose #put {
  max-width: 400px;
}
.hidden {
  display: none !important;
}
.game-cracked-group {
  display: flex;
  flex-direction: column;
}
/* end  */
@keyframes winIcon {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(50px);
  }
}
/* gif */
@keyframes noneGif {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* win */
@keyframes winText1 {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes winAni2 {
  0% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes winAni3 {
  0% {
    transform: translateX(-120px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* lose */
@keyframes loseAni1 {
  0% {
    transform: translateY(50px) scale(0.4);
    opacity: 0.7;
  }
  60% {
    transform: translateY(-30px) scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes loseAni2 {
  0% {
    transform: scale(0.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loseAni3 {
  0% {
    transform: translateX(30px) scale(0.4);
    opacity: 0.3;
  }
  30% {
    transform: translateX(-200px) scale(1.1);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes loseAni4 {
  0% {
    transform: translateY(-50px) scale(0.4);
    opacity: 0.7;
  }
  50% {
    transform: translateY(50px) scale(1.2);
    opacity: 0.9;
  }
}
.redeemed-backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #a1a1a194;
  z-index: 111;
  justify-content: center;
  align-items: center;
  display: flex;
}
.close-icon {
  height: 30px;
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 10px;
  background: white;
  border-radius: 50%;
}

.error-message {
  text-align: left;
  margin-top: 0;
  /* margin-bottom: 1rem; */
  color: red;
  font-size: 20px;
  font-style: italic;
  line-height: 27px;
  position: absolute;
  bottom: 2px;
}
.disabled-btn {
  opacity: 0.7;
}

/* hide step arrow input number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#root {
  background-image: url("/public/images/root-bg.jpg");
  background-size: cover;
}

/*  */
@media only screen and (max-width: 450px) {
  .content-register img#logo {
    max-width: 40%;
    margin-top: 35px;
  }
  .content-register img#hohoho {
    max-width: 75%;
    margin-top: 25px;
  }
  .content-register .you-must {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2.5rem;
  }
  .content-register form .form-item {
    max-width: 76%;
  }
  .content-register form input {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 1rem;
    width: 100%;
  }
  .content-register form input::placeholder {
    font-size: 14px;
  }
  .content-register form label:has(+ input:focus) {
    font-size: 10px;
  }
  .content-register form p {
    font-size: 11px;
    line-height: 16px;
  }
  .checkbox-ct {
    font-size: 11px;
    line-height: 16px;
    padding-left: 30px;
  }
  .checkbox label:before {
    top: 4px;
    width: 23px;
    height: 23px;
  }
  .checkbox input:checked + label:after {
    top: 6px;
    left: 8px;
    width: 8px;
    height: 16px;
    border-width: 0 2px 2px 0;
  }
  .checkbox-ct a {
    font-size: 12px;
  }
  .content-register form .submit {
    margin-bottom: 0;
    margin-top: 1.25rem;
    max-width: 50%;
  }
  .content-win img#text1 {
    max-width: 80%;
    margin: 30% auto 0;
  }
  .content-win .enter-code {
    margin: 1% auto 0;
    max-width: 75%;
  }
  .content-win .enter-code input {
    top: 44%;
    font-size: 12px;
    line-height: 20px;
    max-width: 180px;
    width: 100%;
  }
  .content-win .enter-code input::placeholder {
    font-size: 12px;
    line-height: 20px;
  }
  .content-win img#text2 {
    max-width: 82%;
  }
  .icon-win img.ic1 {
    max-width: 30%;
    left: 6%;
    top: -1%;
  }
  .icon-win img.ic2 {
    width: 35%;
    right: 12%;
    top: 0;
  }
  .icon-win img.ic3 {
    left: 12%;
    max-width: 28%;
    top: 22%;
  }
  .icon-win img.ic4 {
    right: 8%;
    top: 24%;
    max-width: 28%;
  }
  .icon-win img.ic5 {
    max-width: 42%;
    top: 52%;
    right: 2%;
  }
  .content-lose img#title {
    max-width: 80%;
    margin-top: 8rem;
  }
  .content-lose .follow {
    font-size: 18px;
    line-height: 24px;
    margin-top: 1rem;
  }
  .content-lose #put {
    max-width: 66%;
  }
  .content-lose .link-right {
    margin: 3rem 0;
  }
  .content-lose #right {
    max-width: 50%;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
  img#oh-dear {
    max-width: 65%;
  }
  .content-dear .you-must {
    font-size: 14px;
    line-height: 20px;
    margin: 1.5rem auto 5rem;
  }
  .two-btn {
    max-width: 82%;
  }
  .two-btn img {
    max-width: 80%;
  }
  img#bot-flower {
    max-width: 95%;
    margin-top: 2rem;
  }
  .two-btn a {
    height: 62px;
  }
  .error-message {
    font-size: 11px;
    line-height: 16px;
  }
  #mechanism {
    width: 88%;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }
  .content-win {
    width: calc(100% + 0px);
    overflow-y: hidden;
  }

}

@media only screen and (min-width: 768px) {
  .content-register form .form-item {
    margin-bottom: 15px !important;
  }
  .error-message {
    margin-bottom: 1rem;
  }
}
.animate{
  transition: all 1s linear;
}
.fake-hidden{
  position: absolute;
  left: -1000;
  top: -1000;
  opacity: 0;
}
.opacity-0{
  opacity: 0;
}
img.win-bot {
  position: absolute;
  bottom: 0;
  z-index: 1;
}